{% extends "skeleton.html.twig" %}
{% block body %}
    <!--Start content -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"  style="text-align: center">Add a new event</div>
              <div class="panel-body">
                      
                    <div class="form-group">
                            <label for="inputTitle">Event Title</label>
                            <input type="text" id="inputTitle" name="title" value=""> 
                    </div>
                      
                      <div class="form-group">
                            <label for="inputHost">Event Host</label>
                            <input type="text" id="inputHost" name="host" value=""> 
                    </div>
                      
                      <div class="form-group">
                            <label for="inputImage">Event Image</label>
                            <input type="text" id="inputImage" name="imageUrl" value=""> 
                    </div>
                      
                      <div class="form-group">
                            <label for="inputDate">Event Date</label>
                            <input type="text" id="inputDate" name="date" value=""> 
                    </div>
                      
                      <div class="form-group">
                            <label for="inputLocation">Event Location</label>
                            <input type="text" id="inputLocation" name="location" value=""> 
                    </div>
                      
                      <div class="form-group">
                            <label for="inputBody">Event Description</label>
                            <textarea class="form-control" id="inputBody" name="body" value=""rows="3"></textarea> 
                    </div>
                      
                      <div class="form-group">
                            <label for="inputCapacity">Event Capacity</label>
                            <input type="text" id="inputCapacity" name="tickets" value=""> 
                    </div>
                      
                      <div class="form-group">
                            <label for="inputMedia">Event Media</label>
                            <input type="text" id="inputMedia" name="videoUrl" value=""> 
                    </div>
                      
                    
                      
                    
                      <button type="submit" class="btn btn-default">Submit</button>
           </div>
        </div>
    </div>
{% endblock body %}