{% extends "skeleton.html.twig" %}
{% block body %}
<!--Start content -->
<div class="row">
<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading"  style="text-align: center">Add a new event</div>
        <div class="panel-body">
            <form role="form" action="" method="post" >
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="inputTitle">Event Title</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="title" id="inputTitle" placeholder="Enter Event Title" required>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputHost">Event Host</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="host" id="inputHost" placeholder="Enter Event Host" required>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputImage">Event Image</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="imageUrl" id="inputImage" placeholder="Enter Event Image" required>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputDate">Event Date</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="date" id="inputDate" placeholder="Enter Event Date" required>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputLocation">Event Location</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="location" id="inputLocation" placeholder="Enter Event Location" required>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputBody">Event Description</label>
                        <div class="input-group"
                            >
                            <textarea name="body" id="inputBody" class="form-control" rows="5" required></textarea>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputCapacity">Event Capacity</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="tickets" id="inputCapacity" placeholder="Enter Event Capacity" required>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputMedia">Event Media</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="videoUrl" id="inputMedia" placeholder="Enter Event Capacity" required>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>
                    <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock body %}