html, body {
    height: 100%;
}

body{
    background-color: #FFC125; /* For browsers that do not support gradients */
    background-color: -webkit-linear-gradient(#FFC125, #FFA500); /* For Safari 5.1 to 6.0 */
    background-color: -o-linear-gradient(#FFC125, #FFA500); /* For Opera 11.1 to 12.0 */
    background-color: -moz-linear-gradient(#FFC125, #FFA500); /* For Firefox 3.6 to 15 */
    background-color: linear-gradient(#FFC125, #FFA500); /* Standard syntax */
    padding-bottom: 220px;
}

.background-container{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
}

.background{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.background.left-half {
    background-image: url("/images/crowd_01.jpg");
    flex: 1;
    padding: 1rem;
}
.background.right-half {
    background-image: url("/images/crowd_02.jpg");
    flex: 1;
    padding: 1rem;
}

.main-container{
    position: relative;
    height: 100%;
    min-height: 100%;
}

.page-header{
    margin-top: 20px;
    margin-bottom: 0;
    height: 200px;
    background: url('/images/banner-coloured.png') center center no-repeat scroll;
    border-radius: 5px;
}

.navbar {
    background-color: #252839;
    margin-top: 3px;
    margin-bottom: 5px;
    border-color: transparent;
}

.navbar-default .navbar-brand {
    color: #FFA500;
}

.navbar-default .navbar-nav>li>a {
    color: #FFA500;
}

.container{
    background-color: white;
    text-align: center;
}

.content-wrapper{
    background-color: white;
    min-height: 100%;
    padding: 0;
}

.content-container{
    background-color: white;
    overflow: auto;
    padding-bottom: 200px;
}

.event-row{
    padding-left: 0;
    padding-right: 0;
}

.event-title{
	font-family: 'Titillium Web', sans-serif;
    margin-bottom: 40px;
    text-align: left;
    margin-right: 0;
}

.event-register{
    margin-top: -10px;
    text-align: right;
    font-family: 'Titillium Web', sans-serif;
}

.label {
    padding: 5px 10px 12px;
}

.label-primary{
    background-color: #252839;
}

.label-default{
    position: absolute;
    background-color: #252839;
}

.label-danger{
    background-color: red;
    color: white;
}

label{
    display: inline-block;
    width: 150px;
}

img{
    border-radius: 5px;
    border: 10px solid #FFC125;
    
}

.col-md-4{
    padding-right: 40px;
}

.panel .panel-heading {
    background-color: #252839;
    color: #FFA500;
    text-align: right;
    
}

#eventPanHead div{
    display: inline-block;
    
}

.thread{
    background-color: lightgrey;
    padding: 3px 3px 3px;
    border-radius: 5px;
}

.thread:nth-of-type(odd){
    color: #FFA500;
    background-color: #252839;
}

.panel .panel-body {
    background-color: #FFC125;
    color: #252839;
    text-align: left;
}



#eventPanHead{
    text-align: left;
    border-radius: 0px;
    padding-top: 15px
}

#eventInfo{
    margin-top: -50px;
    text-align: right;
}

#eventLabels{
    background-color: #FFC125;
    color: #252839;
    padding: 3px 3px 3px;
    margin: 3px 3px 3px;
    
}

#charityLogo{
    border: 0;
    
}

#footer{
    position: relative;
    margin-top: -200px;
    height: 200px;
    clear: both;
    background-color: #252839;
    color: #FFA500;
}