{% extends "skeleton.html.twig" %}
{% block body %}<div class="row event-row" id="row1">
    {% for event in events %}
        <div class="col-md-4">
            <h4 class="event-title"><a href="{{ path_for('EventOperations', { 'eventID': event.getId }) }}" class="label label-default">{{ event.getTitle }}</a></h4>
            <img class="event-image" src="{{ event.getImageUrl }}">
            <h3 class="event-register"><a href="#" class="label label-primary" data-toggle="modal" data-target="#login-modal">Sign up!</a></h3>
            <div style="clear: both;"></div>
        </div>



        {% if loop.index is divisible by(3) %}
            </div>
            <div class="row event-row" id="row{{ (loop.index / 3) + 1 }}">
        {% endif %}
    {% endfor %}
    </div>
{% endblock body %}