<!DOCTYPE html>
<html lang="en">
    <head>
      <title>{{ page_title }} | NE Charity Music Events</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <link href="/css/style.css" rel="stylesheet" />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="background-container">
            <div class="background left-half">&nbsp;</div>
            <div class="background right-half">&nbsp;</div>
        </div>
        <div class="main-container container-fluid">
            <!-- Start banner -->
            <div class="container" id="banner">
                <div class="page-header">
                </div>
                <nav class="navbar navbar-default">
                    <div class="container-fluid">

                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/">NE Charity Music Events</a>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="{% if current_user %}/user{% else %}/register{% endif %}
">Account<span class="sr-only">(current)</span></a></li>
                                <li><a href="/events">Events</a></li>
                                <li><a href="/users">Users</a></li>
                                <li><a href="#">Charities</a></li>
                                <li><a href="/contact">Contact us</a></li>
                                {% if current_user %}
                                <li><a href="/logout">Logout</a></li>
                                {% else %}
                                <li><a href="#" data-toggle="modal" data-target="#login-modal">Login</a></li>
                                {% endif %}
                            </ul>
                            <form class="navbar-form navbar-right" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Events, users ...">
                                </div>
                                <button type="submit" class="btn btn-default">Search</button>
                            </form>
                        </div>
                    </div>
                </nav>
                {% include "flashes.html.twig" %}
            </div>
<!-- End banner -->
    
<!--Start content -->
            <div class="container content-wrapper">
                <div class="container content-container">
                    {% block body %}

                    {% endblock body %}
                </div>
            </div>
        
        
<!--End content -->
            
            <!-- Modal -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	  <div class="modal-dialog">
				<div class="loginmodal-container">
					<h1>Login to Your Account</h1><br>
				  <form action="/login" method="post">
					<input type="text" name="username" placeholder="Username">
					<input type="password" name="password" placeholder="Password">
					<input type="submit" name="login" class="login loginmodal-submit" value="Login">
				  </form>
				  <div class="login-help">
					<a href="/register">Register</a> - <a href="#">Forgot Password</a>
                      <button type="button" class="btn btn-default" data-dismiss="modal" style="text-align: right">Close</button>
				  </div>
				</div>
			</div>
		  </div>
        
        <!-- footer -->
            <div class="container" id="footer">
                <p>Copyright Peter Clotworthy, Ben McMullan, Lewis Niblock, Jordan Jones</p>
            </div>

        </div>
    </body>
</html>