{% extends "skeleton.html.twig" %}
{% block body %}
    <!--Start content -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"  style="text-align: center">Register an account</div>
                      <div class="panel-body">
            <form action="/register" class="form-horizontal" method="post"   style="margin-left: 20px;">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="inputUsername">Username</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="username" id="inputUsername" placeholder="Enter Username" required>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail">Email</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="email" id="inputEmail" placeholder="Enter Email" required>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <div class="input-group">
                            <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Enter Password" required>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputFirstname">First Name</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="first_name" id="inputFirstname" placeholder="Enter First Name" required>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputLastname">Last Name</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="last_name" id="inputLastname" placeholder="Enter Last Name" required>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>
                        <div class="form-group">
                        <label for="inputCity">City</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="city" id="inputCity" placeholder="Enter City" required>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputBio">Personal Biography</label>
                        <div class="input-group"
                            >
                            <textarea name="bio" id="inputBio" class="form-control" rows="3" required></textarea>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="inputAvatar">Avatar</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="avatar" id="inputAvatar" placeholder="Add an avatar" required>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>
                    <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">
                </div>
            </form>
        </div>
                    
                        
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
              </div>
           </div>
        </div>
    
{% endblock body %}