<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="config/bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         strict="true"
         verbose="true">

  <testsuites>
    <testsuite name="NorthEastEvents">
      <directory suffix="Test.php">../../tests/</directory>
    </testsuite>
  </testsuites>

  <php>
    <env name="TESTING" value="true"/>
  </php>

  <logging>
    <log type="coverage-html" target="../../build/coverage"/>
    <log type="coverage-clover" target="../../build/logs/clover.xml"/>
    <log type="coverage-crap4j" target="../../build/logs/crap4j.xml"/>
    <log type="junit" target="../../build/logs/junit.xml" logIncompleteSkipped="false"/>
  </logging>

  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">.</directory>
      <exclude>
        <directory suffix=".php">public/</directory>
        <directory suffix=".php">vendor/</directory>
        <directory suffix=".php">Models/Base/</directory>
        <directory suffix=".php">Models/Map/</directory>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
